:root {

	/* code block */
	--active-area-black: #1f1f1f;
	--active-border-black: #2b2b2b;
	--active-text-color: #ffffff;
	--active-text-titile-font-size: 28px;
	--active-text-sub-titile-font-size: 16px;
	--active-text-font-size: 14px;
	--active-svg-button-color: #181818;
	--active-svg-button-color-hover: #484848;
	--svg-button-size: 45px;
	--svg-button-background-color: #2b2b2b;
	--title-bar-height: 40px;


	--w-e-textarea-bg-color: #202020;
    --w-e-textarea-color: #ffffff;


  --w-e-textarea-border-color: #1e1e1e;
  --w-e-textarea-slight-border-color: #424242;
  --w-e-textarea-slight-color: #161616;
  --w-e-textarea-slight-bg-color: #111111;
  --w-e-textarea-selected-border-color: #B4D5FF;
  --w-e-textarea-handler-bg-color: #4290f7;
  --w-e-toolbar-color: #ffffff;
  --w-e-toolbar-bg-color: #1c1c1c;
  --w-e-toolbar-active-color: #333;
  --w-e-toolbar-active-bg-color: #404040;
  --w-e-toolbar-disabled-color: #999;
  --w-e-toolbar-border-color: #3e3e3e;
  --w-e-modal-button-bg-color: #fafafa;
  --w-e-modal-button-border-color: #d9d9d9;

}
.w-e-text-container [data-slate-editor] pre>code{
	text-shadow: none;
}


html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	background-color: var(--active-area-black);
	color: var(--active-text-color);
	font-size: var(--active-text-font-size);
	background-size: 100vw 175vw;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
}


/* div {
	width: 100%;
	height: 100%;
	margin: 0;
} */


.title-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--title-bar-height);
	line-height: var(--title-bar-height);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--active-border-black);
	font-size: var(--active-text-titile-font-size);
	z-index: 10;
}

h1 {
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	font-size: var(--active-text-titile-font-size);
}

.codeblock {
	background-color: var(--active-area-black);
	border: 3px solid var(--active-border-black);
	border-radius: 5px;
}

.svg-button {
	aspect-ratio: 1 / 1;
	fill: var(--active-svg-button-color);
}

.page-container {
	position: absolute;
	margin-top:80px;
	width: 100%;
	top: var(--title-bar-height);
	bottom: 0;
}


.svg-button:hover {
	fill: var(--active-svg-button-color-hover);
}

#editor—wrapper {
	z-index: 9;
	/* 按需定义 */
}

#toolbar-container {
	position: fixed;
	left: 0;
	height: 80px;
	top:var(--title-bar-height);
	width: 100%;	
	z-index: 11;
}

#editor-container {
	/* height: 500px; */
	margin-top: 80px;
	bottom: 0;
}


#title-bar-menu-button {
	position: absolute;
	right: 0;
	/* top: auto; */
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.round-svg-button-container {
	border-radius: 50%;
	background-color: var(--svg-button-background-color);
}

.rect-svg-button-container {
	border-radius: 5px;
	background-color: var(--svg-button-background-color);
}

.edit_page_hidden_controller {
	display: block;
}

#edit-button-container {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	right: 30px;
	bottom: 30px;
	/* top: auto; */
	width: var(--svg-button-size);
	height: var(--svg-button-size);
	z-index: 10;
}



#edit-button {
	width: 80%;
	height: 80%;
}

#edit-button.on-editing {
	fill: var(--active-text-color);
}